body{
    margin:0;
    background-color: black;
}

#game-area{
    display:block;
    position: absolute;
    width: 400px;
    height: 300px;
    top: 50%;
    left:   50%;
    margin-top: -150px;
    margin-left: -200px;
    background-color: white;
}

/*Paddles*/
.paddle{
    position:           absolute;
    background-color:   black;
    height:             96px;
    width:              16px;
}
#pad0{
    left: 25px;
}
#pad1{
    right: 25px;
}

/*balls*/
.ball{
    position:           absolute;
    background-color:   black;
    height:             1em;
    width:              16px;
    left:               192px;
    top:                142px;
    right:              50%;
}

/*Scores*/
.scoreboard{
    display:table;
    margin: auto;
    width:  200px;
    left:   50%;
    margin-left: 100px;
    right:  50%;
}
.score{
    font-family: "Courier New";
    font-weight: bold;
    font-size: 200%;
    text-align: center;
}
.score:hover{
    cursor: default;
}
#score0{

}
#score1{

}

/*Walls*/
.wall{
    position:   absolute;
    width:      100%;
    height:     25px;
}
#wall-top{
    top:    -25px;
}
#wall-bottom{
    bottom: -25px;
}

/*Endzones*/
.endzone{
    position:   absolute;
    top:        0;
    height:     100%;
    width:      25px;
    background-color: black;
}
#end-left{
left: 0;
}
#end-right{
right: 0;
}

/*Buttons and dialogues*/
#start-btn{
    position:absolute;
    width: 100px;
    height: 36px;
    left:   50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -18px;
    color: white;
    background-color: black;
    font-family: "Courier New";
    font-size: 200%;
    text-align: center;

}
#start-btn:hover{
    cursor: default;
}

#game-over{
    position:absolute;
    width: 250px;
    height: 60px;
    margin-left: -125px;
    left:   50%;
    top: 40%;
    color: white;
    background-color: black;
    font-family: "Courier New";
    font-size: 150%;
    text-align: center;
}
#game-over:hover{
    cursor: default;
}